<!-- <!DOCTYPE html>  -->
<div class="row container">

  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p style="font-size: 1.5rem;">{{body}}</p>
      </div>
      <div class="card-content">
        <p>
          by
          {{user.name}}<br />
          on
          {{format_date date_created}}
        </p>

      </div>
    </div>
  </div>
</div>
