<!-- <!DOCTYPE html>  -->
<div class="container">
  <div class="card-panel amber lighten-5 hoverable">
    <a class="blue-grey-text" href="/posts/{{id}}">
      <h4>{{title}}</h4></a>
    <h5>Written by {{user.name}} on {{format_date date_created}}</h5>
  </div>
</div>
