<!-- <!DOCTYPE html>  -->
<h2 class="blue-grey-text text-darken-3 center-align">Welcome to Tech Today</h2>
<h3 class="blue-grey-text text-darken-3 center-align">Here are the latest posts</h3>
<div class = "container">
  {{#each posts}}
  {{> postPreviewLink}}
  {{/each}}
</div>
