<!-- <!DOCTYPE html>  -->
<h2 class="center-align">Welcome to Tech Today</h2>
<h3 class="center-align">Here are the latest posts</h3>
<div class = "container">
  {{#each posts}}
  {{> postView}}
  {{/each}}
</div>
