<h2 class="center-align deep-purple-text">Login to Tech Today</h2>
<div class="row container">
  <form class="col s12">
    <div class="row container col s8 offset-s2">
      <div class="input-field">
        <input id="email" type="email" class="validate" />
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row container col s8 offset-s2">
      <div class="input-field">
        <input id="password" type="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
  </form>
</div>

<!-- sign up button  -->
<div class="row container center-align">
  <h3 class="deep-purple-text">No account?</h3>
  <a href="/signUp" class="waves-effect waves-light btn-large"><i
      class="material-icons right"
    >create</i>Sign Up!</a>
</div>
